{% extends 'front.html.twig' %}

{% block banner %}
<div class=innerbannerwrap>
    <div class=content></div>
    <div class=innerbanner><h2 class=bannerHeadline>book <span>ticket</span></h2></div>
</div>
{% endblock %}
{% block body %}
<section class="latest_news bg-white">
    <div class=container>
        <div class=row><h2 class=heading>latest <span>news</span></h2>

            <p class=headParagraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia
                qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel
                ipsam, nesciunt dolores consequatur, est tempora ut! Est?>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus
                voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut!
                Est.</p>

            <div class="LatestNews_wrap clearfix">
                <ul class="nav accordion-news" role=tablist>
                    <li><a href=#world_news aria-controls=world_news role=tab data-toggle=tab id=world_news_button>world
                        news</a></li>
                    <li class=active><a href="#" club_news aria-controls=club_news role=tab data-toggle=tab
                                        id="club_news_button">club news</a></li>
                </ul>
                <div class="tab-content news_display_container clearfix">
                    <ul id="world_news class=tab-pane">
                        <li>
                            <div class=figure>
                                <div class=column-news>
                                    <div class=figure-01><img src=assetsFront/images/news/w_news_01.jpg alt=image></div>
                                    <div class=content-01><h6><a href=#>consectetur adipisicing elit</a></h6>

                                        <p class=red_p>Stories of the legends</p>

                                        <p class=describtion>Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit.</p></div>
                                    <div class="news_date clearfix"><span>october 14,2015</span> <span class=like><a
                                            href=#>45</a></span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}